.build-plan__container {
  display: flex;
  max-height: calc(100vh - 64px); // 64px -> nav height
}

.build-plan__middle-container {
  flex-grow: 1;
  padding-top: 24px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.build-plan__side-bar {
  flex-grow: 0;
  width: 128px;
  margin-left: 12px;
  background: white;
  border-left: 1px solid #333333;
}