.build-plan__container {
  display: flex;
  max-height: calc(100vh - 64px); // 64px -> nav height
}

.build-plan__middle-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.build-plan__tips {
  display: flex;
  width: 100%;
  height: 54px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding: 10px 25px;
}

.build-plan__tips-button {
  font-size: 14px;
  &:not(:first-child) {
    margin-left: 40px;
  }
}

.build-plan__tips-content {
  margin: 0;
}

.build-plan__board-frame {
  max-height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  border: 8px solid rgb(214, 214, 214);
}
